* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "picture"
        "text"
        "video";
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: picture;
}

.t {
    border-color: #ffdfba;
    grid-area: text;
    
}

.v {
    border-color: #baffc9;
    grid-area: video;
}

picture__p {
    max-width: 100vw;
    height: auto;
}

img {
    width: 100%;
}

.iframe{
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    body {
        grid-template-columns: minmax(200px, 1fr) 1fr;
        grid-template-areas: 
        "picture text"
        "video text";
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        grid-template-areas: 
        "picture video"
        "text text";
    }
}