* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "picture"
        "text"
        "video";
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    grid-area: picture;
}

.t {
    border-color: #ffdfba;
    grid-area: text;
}

.v {
    border-color: #baffc9;
    grid-area: video;
}

.p__picture {
    background-image: url('../assets/picture.png');
    width: 100vw;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
